* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --bg-color-white: #F9F4FB;
    --primary-color: #B52184;
    --secundary-color: #312D64;
    --gradient: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

html,
body,
input,
textarea {
    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-color-white);
}

section {
    padding: 0 3.9rem;
}

.logo {
    margin-bottom: 1.7rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--primary-color);
}

.title p {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secundary-color);
}

.arrow-down {
    padding: 3rem 1.4rem;
    border: 4px solid var(--primary-color);
    border-radius: 76rem;
    margin: 3.5rem 0 9.3rem 0;
}

.cards {
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5.5rem 3.9rem;
}

.card {
    padding: 2.6rem;
    background-color: #FFF;
    border-radius: 2rem;
}

.card img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 3.3rem;
}

.card h2 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.card p {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--secundary-color);
}

h3 {
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--primary-color);
    margin: 7.6rem 0 4.3rem 0;
}

.input-wrapper {
    border: 1.5px solid var(--secundary-color);
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 1.2rem 1.4rem;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
}

input,
textarea {
    border: none;
    width: 100%;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
}

textarea {
    height: 12.6rem;
    resize: none;
}

button {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: #FFF;
    background: var(--gradient);
    padding: 1rem 1.6rem;
    border: none;
    border-radius: 1.6rem;
    margin-bottom: 6.5rem;
}

footer {
    background: var(--gradient);
    padding: 1.6rem;
    text-align: center;
}

footer p {
    font-size: 2rem;
    font-weight: 600;
    color: #FFF;
}

#dots {
    display: none;
}